<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Show One Ad')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:if="${post == null}">
    Post not found!
</div>
<div th:if="${post}">
    <h1>Title: <span th:text="${post.title}"></span></h1>
    <p>Email: <span th:text="${post.user.email}"></span></p>
    <p>Body: <span th:text="${post.body}"></span></p>
</div>
<div th:each="image: ${post.images}">
    <img th:src="${image.path}" th:alt="${image.description}">
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>